{{>partial/header}}
{{#banner}}
<section class="banner" style="background-image: url('/images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}
<!--fotos -->
<div class="container list">
    {{#list}}
       <div class="item">
            <img src="/images/{{image}}" class="item--image" />
            <div class="item--tipo"> <!-- Caracteristicas dos animais -->
              <div class="item--name">{{ name }}</div>
              <div class="item--color">Cor: {{ color}}</div>
              <div class="item--genre">Genero: {{ sex }}</div>
              <div class="item--preco">Preço: {{ preco }}</div>
            </div>
        </div>
    {{/list}}
</div>
{{^list}}
<div class='container no-list'>
  <h2>não há animais disponiveis nestas condicões</h2>
</div>
{{/list}}
{{>partial/footler}}